*{
    margin: 0;
}

    /* yaha hum height and width ko same value dena padega tabhi ye circle banega */
.circle{
    background-color: red;
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    /* margin auto -> horizontally chejo ko centre pe leke rakh deta hai */
    margin: auto;
    margin-top: 20vh;
}


/* How to centre a div?
   Ans : give margin: auto */